<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sannyrai.esewa.esewa_plugin">

    <application android:theme="@style/Theme.AppCompat.DayNight">
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
